.DS_Store
DerivedData/
ios/
ios7tester.xcodeproj/project.xcworkspace/xcshareddata/
ios7tester.xcodeproj/project.xcworkspace/xcuserdata/
ios7tester.xcodeproj/xcuserdata/sam.royston.xcuserdatad/
opencv2*
